node_modules
.DS_Store
dist
dist-ssr
.partykit
*.env
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

tmp
.nitro
.env
.tanstack
.wrangler
.output