name: development
on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20]
    steps:
      - uses: actions/checkout@v4
      - name: Install Bun
        uses: oven-sh/setup-bun
        with:
          bun-version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: bun install

  typescheck:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Bun
        uses: oven-sh/setup-bun
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Check typescript
        run: bun typescheck

  unit-tests:
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Bun
        uses: oven-sh/setup-bun
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Run unit tests
        run: bun test:unit
